* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: #fff;
  padding: 40px 42px 145px;
  background: linear-gradient(
      0deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("../img/header-bg.png") no-repeat center / cover;
  border-radius: 0px 0px 90px 90px;
}

.hello {
  font-weight: 500;
  font-size: 20px;
}

.hello-text {
  font-weight: 400;
  font-size: 16px;
}

.user {
  margin-top: -79px;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 10px;
  padding-bottom: 20px;
}

.user-avatar {
  margin-top: -43px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fffefe;
}

.user-name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
}

.user-description {
  font-weight: 500;
  font-size: 12px;
  color: #6a6a6a;
  margin-top: 4px;
}
