* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: #fff;
  padding: 40px 42px 145px;
  background: linear-gradient(
      0deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("../img/header-bg.png") no-repeat center / cover;
  border-radius: 0px 0px 90px 90px;
}

.hello {
  font-weight: 500;
  font-size: 20px;
}

.hello-text {
  font-weight: 400;
  font-size: 16px;
}

.user {
  margin-top: -79px;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 10px;
  padding-bottom: 20px;
}

.user-avatar {
  margin-top: -43px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fffefe;
}

.user-name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
}

.user-description {
  font-weight: 500;
  font-size: 12px;
  color: #6a6a6a;
  margin-top: 4px;
}

.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: auto;
  gap: 10px;
}

.button {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid;
  flex-shrink: 1px;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  gap: 10px;
  margin-bottom: 6px;
}

.button.vk {
  background-color: #0077ff;
}

.button.yt {
  background-color: #ff0000;
}

.button.tg {
  background-color: #0088cc;
}

.button.hh {
  background-color: #e1011c;
}
